/*stylesheet*/

/*vars*/

:root {
	
}/*stylesheet*/

/* vars */
:root {
  --background-color: #00591;
  --body-color: black;
}

body {
	margin: 0;
	color: var(--body-color);
	background: var(--background-color);

}

#wrapper {
	margin:  0 auto;
	max-width: 1200px;
}

.video-wrapper .inner {
  position: absolute;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-wrapper .inner .title {
  display: block;
  font-size: 2em;
  color: white;
}

.click {
  width: 100%;
  text-align: center;
  position: absolute;
  z-index: 3;
  bottom: 2em;
  color: white;
}

#map-inner {
  position: relative;
}

.seventies01 {
  z-index: 2;
  position: absolute;
  width: 3em;
  height:  3em;
  background: paleturquoise;
  top: 13%;
  left: 75%;
}

.seventies02 {
  z-index: 2;
  position: absolute;
  width: 3em;
  height:  3em;
  background: paleturquoise;
  top: 19%;
  left: 70%;
}

.seventies03 {
  z-index: 2;
  position: absolute;
  width: 3em;
  height:  3em;
  background: paleturquoise;
  top: 22%;
  left: 74%;
}

.seventies03 {
  z-index: 2;
  position: absolute;
  width: 3em;
  height:  3em;
  background: paleturquoise;
  top: 22%;
  left: 74%;
}

.seventies03 {
  z-index: 2;
  position: absolute;
  width: 3em;
  height:  3em;
  background: paleturquoise;
  top: 22%;
  left: 74%;
}

.seventies04 {
  z-index: 2;
  position: absolute;
  width: 3em;
  height:  3em;
  background: paleturquoise;
  top: 21%;
  left: 80%;
}

.seventies05 {
  z-index: 2;
  position: absolute;
  width: 3em;
  height:  3em;
  background: paleturquoise;
  top: 25%;
  left: 79%;
}

.seventies06 {
  z-index: 2;
  position: absolute;
  width: 3em;
  height:  3em;
  background: paleturquoise;
  top: 28%;
  left: 70%;
}

.seventies07 {
  z-index: 2;
  position: absolute;
  width: 3em;
  height:  3em;
  background: paleturquoise;
  top: 30%;
  left: 74%;
}

.seventies08 {
  z-index: 2;
  position: absolute;
  width: 3em;
  height:  3em;
  background: paleturquoise;
  top: 30%;
  left: 74%;
}

.seventies09 {
  z-index: 2;
  position: absolute;
  width: 3em;
  height:  3em;
  background: paleturquoise;
  top: 28%;
  left: 65%;
}

.seventies10 {
  z-index: 2;
  position: absolute;
  width: 3em;
  height:  3em;
  background: paleturquoise;
  top: 24%;
  left: 62%;
}

.seventies11 {
  z-index: 2;
  position: absolute;
  width: 3em;
  height:  3em;
  background: paleturquoise;
  top: 51%;
  left: 66%;
}

.seventies12 {
  z-index: 2;
  position: absolute;
  width: 3em;
  height:  3em;
  background: paleturquoise;
  top: 57%;
  left: 55%;
}

.seventies13 {
  z-index: 2;
  position: absolute;
  width: 3em;
  height:  3em;
  background: paleturquoise;
  top: 68%;
  left: 57%;
}	

.seventies14 {
  z-index: 2;
  position: absolute;
  width: 3em;
  height:  3em;
  background: paleturquoise;
  top: 70%;
  left: 64%;
}	

.seventies15 {
  z-index: 2;
  position: absolute;
  width: 3em;
  height:  3em;
  background: paleturquoise;
  top: 80%;
  left: 51%;
}	

.seventies16 {
  z-index: 2;
  position: absolute;
  width: 3em;
  height:  3em;
  background: paleturquoise;
  top: 82%;
  left: 65%;
}	
