/*stylesheet*/

/*vars*/

:root {
	
}/*stylesheet*/

/* vars */
:root {
  --background-color: #00591;
  --body-color: black;
}

body {
	margin: 0;
	color: var(--body-color);
	background: var(--background-color);

}

#wrapper {
	margin:  0 auto;
	max-width: 1200px;
}

.video-wrapper .inner {
  position: absolute;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-wrapper .inner .title {
  display: block;
  font-size: 2em;
  color: white;
}

.click {
  width: 100%;
  text-align: center;
  position: absolute;
  z-index: 3;
  bottom: 2em;
  color: white;
}

#map-inner {
  position: relative;
}

.seventies01 {
  z-index: 2;
  position: absolute;
  width: 3em;
  height:  3em;
  background: paleturquoise;
  top: 13%;
  left: 75%;
}

.seventies02 {
  z-index: 2;
  position: absolute;
  width: 3em;
  height:  3em;
  background: paleturquoise;
  top: 19%;
  left: 70%;
}

