/*stylesheet*/

/*vars*/

:root {
	
}/*stylesheet*/

/* vars */
:root {
  --background-color: #00591;
  --body-color: black;
}

body {
	margin: 0;
	color: var(--body-color);
	background: var(--background-color);

}

#wrapper {
	margin:  0 auto;
	max-width: 1200px;
}

.video-wrapper .inner {
  position: absolute;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-wrapper .inner .title {
  display: block;
  font-size: 2em;
  color: white;
}

.click {
  width: 100%;
  text-align: center;
  position: absolute;
  z-index: 3;
  bottom: 2em;
  color: white;
}

#map-inner {
  position: relative;
}

.seventies01 {
  z-index: 2;
  position: absolute;
  width: 3em;
  height:  3em;
  background: paleturquoise;
  top: 13%;
  left: 75%;
}

.seventies02 {
  z-index: 2;
  position: absolute;
  width: 3em;
  height:  3em;
  background: paleturquoise;
  top: 19%;
  left: 70%;
}

.seventies03 {
  z-index: 2;
  position: absolute;
  width: 3em;
  height:  3em;
  background: paleturquoise;
  top: 22%;
  left: 74%;
}

.seventies03 {
  z-index: 2;
  position: absolute;
  width: 3em;
  height:  3em;
  background: paleturquoise;
  top: 22%;
  left: 74%;
}

.seventies03 {
  z-index: 2;
  position: absolute;
  width: 3em;
  height:  3em;
  background: paleturquoise;
  top: 22%;
  left: 74%;
}

.seventies04 {
  z-index: 2;
  position: absolute;
  width: 3em;
  height:  3em;
  background: paleturquoise;
  top: 21%;
  left: 80%;
}

.seventies05 {
  z-index: 2;
  position: absolute;
  width: 3em;
  height:  3em;
  background: paleturquoise;
  top: 25%;
  left: 79%;
}

.seventies06 {
  z-index: 2;
  position: absolute;
  width: 3em;
  height:  3em;
  background: paleturquoise;
  top: 28%;
  left: 70%;
}

.seventies07 {
  z-index: 2;
  position: absolute;
  width: 3em;
  height:  3em;
  background: paleturquoise;
  top: 30%;
  left: 74%;
}

.seventies08 {
  z-index: 2;
  position: absolute;
  width: 3em;
  height:  3em;
  background: paleturquoise;
  top: 30%;
  left: 74%;
}

.seventies09 {
  z-index: 2;
  position: absolute;
  width: 3em;
  height:  3em;
  background: paleturquoise;
  top: 28%;
  left: 65%;
}

.seventies10 {
  z-index: 2;
  position: absolute;
  width: 3em;
  height:  3em;
  background: paleturquoise;
  top: 24%;
  left: 62%;
}

.seventies11 {
  z-index: 2;
  position: absolute;
  width: 3em;
  height:  3em;
  background: paleturquoise;
  top: 51%;
  left: 66%;
}

.seventies12 {
  z-index: 2;
  position: absolute;
  width: 3em;
  height:  3em;
  background: paleturquoise;
  top: 57%;
  left: 55%;
}

.seventies13 {
  z-index: 2;
  position: absolute;
  width: 3em;
  height:  3em;
  background: paleturquoise;
  top: 68%;
  left: 57%;
}	

.seventies14 {
  z-index: 2;
  position: absolute;
  width: 3em;
  height:  3em;
  background: paleturquoise;
  top: 70%;
  left: 64%;
}	

.seventies15 {
  z-index: 2;
  position: absolute;
  width: 3em;
  height:  3em;
  background: paleturquoise;
  top: 80%;
  left: 51%;
}	

.seventies16 {
  z-index: 2;
  position: absolute;
  width: 3em;
  height:  3em;
  background: paleturquoise;
  top: 82%;
  left: 65%;
}	

.eighties01 {
  z-index: 2;
  position: absolute;
  width: 3em;
  height:  3em;
  background: paleturquoise;
  top: 15%;
  left: 75%;
}

.eighties02 {
 z-index: 2;
  position: absolute;
  width: 3em;
  height:  3em;
  background: paleturquoise;
  top: 23%;
  left: 74%;
}

.eighties03 {
  z-index: 2;
  position: absolute;
  width: 3em;
  height:  3em;
  background: paleturquoise;
  top: 27%;
  left: 71%;
}

.eighties04 {
  z-index: 2;
  position: absolute;
  width: 3em;
  height:  3em;
  background: paleturquoise;
  top: 25%;
  left: 78%;
}

.eighties05 {
  z-index: 2;
  position: absolute;
  width: 3em;
  height:  3em;
  background: paleturquoise;
  top: 28%;
  left: 66%;
}

.eighties06 {
  z-index: 2;
  position: absolute;
  width: 3em;
  height:  3em;
  background: paleturquoise;
  top: 26%;
  left: 62%;
}

.eighties07 {
  z-index: 2;
  position: absolute;
  width: 3em;
  height:  3em;
  background: paleturquoise;
  top: 58%;
  left: 55%;
}

.eighties08 {
  z-index: 2;
  position: absolute;
  width: 3em;
  height:  3em;
  background: paleturquoise;
  top: 52%;
  left: 66%;
}

.eighties09 {
  z-index: 2;
  position: absolute;
  width: 3em;
  height:  3em;
  background: paleturquoise;
  top: 68%;
  left: 57%;
}

.eighties10 {
  z-index: 2;
  position: absolute;
  width: 3em;
  height:  3em;
  background: paleturquoise;
  top: 70%;
  left: 63%;
}

.eighties10 {
  z-index: 2;
  position: absolute;
  width: 3em;
  height:  3em;
  background: paleturquoise;
  top: 80%;
  left: 52%;
}

.eighties11 {
  z-index: 2;
  position: absolute;
  width: 3em;
  height:  3em;
  background: paleturquoise;
  top: 70%;
  left: 63%;
}

.eighties12 {
  z-index: 2;
  position: absolute;
  width: 3em;
  height:  3em;
  background: paleturquoise;
  top: 70%;
  left: 63%;
}

.eighties13 {
  z-index: 2;
  position: absolute;
  width: 3em;
  height:  3em;
  background: paleturquoise;
  top: 81%;
  left: 64%;
}

.eighties14 {
  z-index: 2;
  position: absolute;
  width: 3em;
  height:  3em;
  background: paleturquoise;
  top: 82%;
  left: 58%;
}

.eighties15 {
  z-index: 2;
  position: absolute;
  width: 3em;
  height:  3em;
  background: paleturquoise;
  top: 85%;
  left: 62%;
}

.nineties01 {
  z-index: 2;
  position: absolute;
  width: 3em;
  height:  3em;
  background: paleturquoise;
  top: 22%;
  left: 73%;
}

.nineties02 {
  z-index: 2;
  position: absolute;
  width: 3em;
  height:  
  3em;
  background: paleturquoise;
  top: 28%;
  left: 73%;
}

.nineties03 {
  z-index: 2;
  position: absolute;
  width: 3em;
  height:  
  3em;
  background: paleturquoise;
  top: 27%;
  left: 66%;
}

.nineties04 {
  z-index: 2;
  position: absolute;
  width: 3em;
  height:  
  3em;
  background: paleturquoise;
  top: 51%;
  left: 66%;
}

.nineties05 {
  z-index: 2;
  position: absolute;
  width: 3em;
  height:  
  3em;
  background: paleturquoise;
  top: 68%;
  left: 56%;
}

.nineties06 {
  z-index: 2;
  position: absolute;
  width: 3em;
  height:  
  3em;
  background: paleturquoise;
  top: 69%;
  left: 65%;
}

.nineties07 {
  z-index: 2;
  position: absolute;
  width: 3em;
  height:  
  3em;
  background: paleturquoise;
  top: 69%;
  left: 65%;
}

.nineties08 {
  z-index: 2;
  position: absolute;
  width: 3em;
  height:  
  3em;
  background: paleturquoise;
  top: 74%;
  left: 64%;
}

.nineties09 {
  z-index: 2;
  position: absolute;
  width: 3em;
  height:  
  3em;
  background: paleturquoise;
  top: 82%;
  left: 61%;
}

.nineties10 {
  z-index: 2;
  position: absolute;
  width: 3em;
  height:  
  3em;
  background: paleturquoise;
  top: 83%;
  left: 67%;
}
